
.product
{
border: 1px solid #eaeaec;
margin: -1px 19px 3px -1px;
padding: 10px;
text-align: center;
background-color: #efefef;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery img {
  height: 300px;
  width:  167px;
  text-align: center;
}


table, th,tr{
  text-align: center;
}

.title2{
  text-align: center;
  color: #66afe9;
  background-color: #efefef;
  padding: 2%;
}

h2{
  text-align: center;
  color: #66afe9;
  background-color: #efefef;
  padding: 2%;
}

table th{
  background-color: #efefef;
}
